@import "../../../../styles/variables/colors.module.scss";
.staff_container {
  background-color: $colorTransparent;
  width: 100%;
  border: 2px;
  border-style: solid;
  border-color: $colorPrimary;
  display: flex;
  flex-direction: row;
}

.staff_cards {
  background-color: $colorTransparent;
  width: 100%;
  height: 200px;
  border: 2px;
  border-style: solid;
  border-color: $colorPrimary;

  margin: 20px;
}
