@import "styles/variables/colors.module.scss";

.button {
  border: 0;
  cursor: pointer;
}

.rounded {
  border-radius: 10px;
}

.tiny {
  height: 20px;
  width: 30px;
}

.small {
  height: 36px;
  width: 86px;
}

.normal {
  height: 42px;
  width: 108px;
}

.large {
  height: 51px;
  width: 116px;
}

.fit {
  height: fit-content;
  width: fit-content;
}

.underline {
  transition: 0.5s;
  text-decoration: none;
  text-decoration-color: transparent;
}

.enableHover:hover {
  background: $colorAlmostWhite !important;
}
