@import "styles/variables/colors.module.scss";
@import "styles/variables/zIndexes.module.scss";

.userMenuContainer {
  position: absolute;
  top: 70px;
  right: 360px;
  width: 300px;
  height: fit-content;
  border-radius: 20px;
  background: $colorAlmostWhite;
  z-index: z('adminBar');
}

.userMenuContent {
  padding: 15px;
}

.userMenuOption {
  margin-top: 1rem;
  border: 1px solid $colorBlack;
}
