@import "../../../styles/variables/colors.module.scss";
.card {
  background-color: $colorTransparent;
  width: 100%;
  border: 2px;
  border-style: solid;
  border-color: $colorPrimary;
  display: flex;
  flex-direction: row;
}
.title {
  color: $colorPrimary;
  margin-top: 5px;
}

.img_contanier {
  border-right-style: solid;
  border-style: solid;
  border-color: $colorPrimary;
}

.img {
  width: 350px;
  height: 300px;
  border-right-style: solid;
  border-color: $colorPrimary;
  padding: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.leader_name {
  padding-bottom: 20px;
}
