@import "styles/variables/colors.module.scss";

.adminScreenContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  background: $colorAlmostWhite;
}

.adminScreenContent {
  width: 100%;
  padding: 2rem;
}
