.showsContainer {
  //position: relative;

  //display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // width: 100%;
}

.showsContainerMobile {
  flex-direction: column;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  margin: 20px 0px 20px 0px;
}
