// THEME
$colorPrimary: #F50E9D;
$colorSecondary: #010010;
$colorSuccess: #22C55e;
$colorInfo: #3B82F6;
$colorWarning: #F59E0B;
$colorHelp: #A855F7;
$colorDanger: #EF4444;

// COLORS
$colorWhite: #FFFFFF;
$colorAlmostWhite: #EFEFEF;
$colorAlmostBlack: #050505;
$colorBlack: #000000;
$colorTransparent: rgba(0,0,0,0);
