// THEME
$colorPrimary: #f50e9d;
$colorSecondary: #010010;
$colorSuccess: #22c55e;
$colorInfo: #3b82f6;
$colorWarning: #f59e0b;
$colorHelp: #a855f7;
$colorDanger: #ef4444;

// COLORS
$colorWhite: #ffffff;
$colorAlmostWhite: #efefef;
$colorAlmostBlack: #050505;
$colorBlack: #000000;
$colorTransparent: rgba(0, 0, 0, 0);
