@import "../../../styles/variables/colors.module.scss";

.open {
  border: 10px solid blue;
}

.card {
  background-color: rgb(0, 0, 0);
  width: 309px;
  border-radius: 8px;
  border: 4px solid $colorPrimary;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.card.isStatic {
  width: 1320px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  color: $colorPrimary;
  margin-top: 5px;
  width: fit-content;
}

.p {
  color: $colorWhite;
}

.img {
  padding: 0.5rem;
}

.img_contanier.isStatic {
  border-right: 4px solid $colorPrimary;
}

.img.isStatic {
  width: 350px;
  height: 300px;
  padding: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  //border-left: 4px solid $colorPrimary;
  //height: fit-content;
}
