@import "../../../styles/variables/colors.module.scss";

.card {
  background-color: black;
  width: 309px;
  border-radius: 8px;
  border: 4px;
  border-style: solid;
  border-color: $colorPrimary;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-top: 25px;
  float: inline-end;
  object-fit: none;
  object-position: 5px 10%;
  border: 5px solid red;
}

.card.isStatic {
  width: 1345px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  color: $colorPrimary;
  margin-top: 5px;
  width: fit-content;
}

.p {
  color: $colorWhite;
}

.img {
  padding: 0.5rem;
}

.img_contanier.isStatic {
  border-right: 4px solid;
  border-color: $colorPrimary;
}

.img.isStatic {
  width: 350px;
  height: 300px;
  padding: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
